@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');


html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  transform-origin: top;
  transition: padding 0s ease, height 0s ease;
  right: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #6194a7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar.shrink {
  height: 5%;;
transition: 0s ease;
background-color: 91C499; /* Semi-transparent background */
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
}

.navbar .hamburger {
  display: none;
  margin-right: 20px;
}

@media (max-width: 426px) {
  .menuitems, #a {
    display: none;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
}

/* New styles for laptop/desktop */
@media (min-width: 427px) {
  .navbar {
    justify-content: center; /* Center everything in the navbar on a larger screen */
  }
  .nav-links {
    width: 90%; /* Let it take up the full width */
  }
}

.menuitems {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 700;
  color: #989999;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  list-style: none;
}

.menuitems:hover,
.menuitems a:hover {
  color: rgb(81, 126, 170);
  transition: ease-in,0.5s;
}



a
{
  text-decoration: none;
  font-size: clamp(1.8rem, 2vw, 3rem);
    font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #29316d
}
p
{
  font-size: clamp(1.8rem, 2vw, 3rem);
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* dim background */
  z-index: 2000;
}

.menu-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px; /* menu width */
  background: #6194a7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  text-align: left;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
}

.menu-content p a {
  text-decoration: none;
  color: black;
}
.menu-content p a:hover {
  color: rgb(81, 126, 170);
}


.cartitems {
  font-family: "Libertinus Sans", sans-serif;
  font-size: 14px;       /* balanced size */
  font-weight: bold;     /* make it pop */
  color: #e63946;        /* a strong red tone */
  margin-left: 6px;      /* little space from icon */
  vertical-align: baseline;
  font-family: Arial, sans-serif; /* clean font */

}